# Copyright (c) 2020, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
#
# WSO2 Inc. licenses this file to you under the Apache License,
# Version 2.0 (the "License"); you may not use this file except
# in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied. See the License for the
# specific language governing permissions and limitations
# under the License.

# Project information
site_name: WSO2 Open Banking Accelerator Documentation
site_description: Documentation for WSO2 Open Banking Accelerator
site_author: WSO2
site_url: https://ob.docs.wso2.com/en/latest/

# Repository
repo_name: wso2/docs-open-banking
repo_url: https://github.com/wso2/docs-open-banking
edit_uri: https://github.com/wso2/docs-open-banking/edit/master/en/docs/

# Copyright
copyright: WSO2 Open Banking Accelerator - Documentation

# Configuration
theme: material
theme:
  name: material
  palette:
    primary: deep-orange
    accent: deep-orange
  custom_dir: theme/material
  logo: images/logo.svg
  favicon: images/favicon.png
  highlightjs: true
  feature:
    tabs: true
  language: 'en'

# Navigation
nav:
  - 'Home': index.md
  - 'Get Started':
    - 'Open Banking & Open Finance': get-started/open-banking.md
    - 'Open Banking & Open Finance Requirements': get-started/open-banking-requirements.md
    - 'Regulations and Standards': get-started/regulations-and-standards.md
    - 'WSO2 Open Banking Accelerator': get-started/wso2-open-banking-accelerator.md
    - 'About this Release': get-started/about-this-release.md
    - 'Quick Start Guide':
      - 'Accelerator with WSO2 Identity server':
        - 'Get Started': get-started/quick-start-guide-with-is.md
        - 'Set Up Accelerators': get-started/set-up-accelerators-with-is.md
        - 'Configure API Resources, Users and Roles': get-started/configure-resources-users-and-roles-for-is.md
        - 'Dynamic Client Registration': get-started/dynamic-client-registration-with-is.md
        - 'Tryout Flow': get-started/try-out-flow-with-is.md
      - 'Accelerator with WSO2 Identity server and WSO2 API Manager':
        - 'Get Started': get-started/quick-start-guide.md
        - 'Set Up Accelerators': get-started/set-up-accelerators.md
        - 'Deploy Open Banking APIs': get-started/deploy-apis.md
        - 'Configure API Resources, Users and Roles': get-started/configure-users-and-roles.md
        - 'Dynamic Client Registration': get-started/dynamic-client-registration.md
        - 'Tryout Flow': get-started/try-out-flow.md
  - 'Install and Setup':
    - 'Prerequisites': install-and-setup/prerequisites.md
    - 'Setting up servers':
       - 'Accelerator with WSO2 Identity Server': install-and-setup/setting-up-servers-with-is.md
       - 'Accelerator with WSO2 Identity Server and WSO2 API Manager': install-and-setup/setting-up-servers.md
    - 'Setting up databases': install-and-setup/setting-up-databases.md
    - 'Configuring Identity Server': install-and-setup/configuring-identity-server-for-ob.md
    - 'Configuring API Manager': install-and-setup/configuring-api-manager-for-ob.md
    - 'Configuring API Resources, Users and Roles': install-and-setup/configure-resources-users-and-roles.md
    # - 'Deploy with Docker' : install-and-setup/deploy-with-docker.md
    - 'Advanced':
        - 'Data purging': install-and-setup/data-purging.md
        - 'Deployment Patterns' : install-and-setup/deployment-patterns.md
        - 'Configuring an Accelerator Deployment with Distributed Gateway and Control Plane': install-and-setup/distributed-gateway-control-plane.md
        - 'Troubleshooting': install-and-setup/troubleshooting.md
  - 'Tryout Flows':
    - 'Accelerator with WSO2 Identity Server':
        - 'Pre-Initiated Consent Flow': tryout-flows/accelerator-with-is/try-out-flow-pre_initiated_consent.md
        - 'Scope Based Consent Flow': tryout-flows/accelerator-with-is/try-out-flow-scope-based-consent.md
    - 'Accelerator with WSO2 Identity server and WSO2 API Manager':
        - 'Deploy Open Banking APIs': tryout-flows/accelerator-with-is-and-apim/deploy-apis.md
        - 'Client Registration':
            - 'Dynamic Client Registration': tryout-flows/accelerator-with-is-and-apim/dynamic-client-registration.md
            - 'Manual Client Registration': tryout-flows/accelerator-with-is-and-apim/manual-client-registration.md
        - 'Tryout Accounts Flow': tryout-flows/accelerator-with-is-and-apim/try-out-accounts-flow.md
  - 'Learn':
    - 'Client Registration': learn/client-registration.md
    - 'Dynamic Client Registration':
        - 'Introduction': learn/dynamic-client-registration.md
        - 'Configuration': learn/dynamic-client-registration-configuration.md
        - 'Tryout': learn/dynamic-client-registration-try-out.md
    - 'Manual Client Registration':
          - 'Introduction': learn/manual-client-registration.md
          - 'Configuration': learn/manual-client-registration-configuration.md
          - 'Using Manual Client Registration Flow': learn/manual-client-registration-process.md
    - 'Consumer Authentication':
        - 'Introduction': learn/consumer-authentication.md
        - 'App-to-App Redirection': learn/app-to-app-redirection.md
        - 'Identifier-first Authentication': learn/identifier-first.md
        - 'CIBA Flow':
            - 'Introduction': learn/ciba.md
            - 'Set up CIBA flow': learn/ciba-set-up-flow.md
    - 'Consent Management':
      - 'Introduction': learn/consent-management.md
      - 'Tryout': learn/consent-management-try-out.md
      - 'Consent Manager': learn/consent-manager.md
    - 'Consent Authorization': learn/consent-authorization-intro.md
    - 'API Security':
        - 'Introduction': learn/api-security.md
        - 'Financial grade API (FAPI) Security': learn/fapi.md
        - 'Configuration': learn/api-security-configuration.md
        - 'JARM for OAuth 2.0': learn/jarm-for-oauth2.md
        - 'Token Authentication': learn/token-authentication.md
    - 'Event Notification':
      - 'Introduction': learn/event-notification.md
      - 'Event Subscription': learn/event-notification-subscription.md
      - 'Event Creation': learn/event-notification-create.md
      - 'Event Polling': learn/event-notification-polling.md
      - 'Real Time Event Notification': learn/event-notification-realtime.md
      - 'Configuration': learn/event-notification-configuration.md
    - 'Gateway Enforcements':
      - 'Introduction': learn/policies.md
      - 'Create Policies': learn/create-policies.md
      - 'Engage Policies to APIs': learn/engage-policies.md
      - 'Inbuilt Enforcements':
          - 'Introduction': learn/inbuilt-policies.md
          - 'Dynamic Client Registration Request Policy': learn/dcr-request-policy.md
          - 'Dynamic Client Registration Response Policy': learn/dcr-response-policy.md
          - 'Consent Enforcement Policy': learn/consent-enforcement-policy.md
          - 'Dynamic Endpoint Policy': learn/dynamic-endpoint-policy.md
          - 'MTLS Enforcement Policy': learn/mtls-enforcement-policy.md
          - 'UK JWS Header Processing Policy': learn/uk-jws-header-processing-policy.md
  - 'Develop':
      - 'Toolkit': 
          - 'Introduction': develop/develop-toolkit.md
          - 'Extending Identity Server Accelerator Extensions': 
              - 'Introduction': develop/develop-is-toolkit.md
              - 'OpenAPI based extensions':
                  - 'Developer Guide': develop/openapi-extensions-developer-guide.md
                  - 'Dynamic Client Registration': develop/openapi-extensions-dcr.md
                  - 'Consent Management':
                      - 'Consent Manage': develop/openapi-consent-management-manage.md
                      - 'Consent Validate': develop/openapi-consent-management-validate.md
                      - 'Consent Authorize': develop/openapi-consent-management-authorize.md
                      - 'Consent Amendment History': develop/openapi-consent-amendment-history.md
                      - 'Customize the Consent Manager Portal': develop/customize-consent-manager-portal.md
                  - 'Token Flow': develop/openapi-token-flow.md
                  - 'Authorization Flow': develop/openapi-authorization-flow.md
                  #- 'Event Notification':
                  #          - 'Event Polling': develop/openapi-event-polling.md
                  #          - 'Event Creation': develop/openapi-event-creation.md
                  #          - 'Event Subscription': develop/openapi-event-subscription.md
              - 'Java based extensions':
                  - 'Developer Guide': develop/developer-guide.md
                  - 'Client Registration':
                      - 'Additional Application Property Validation': develop/application-property-validation.md
                      - 'Dynamic Client Registration':
                          - 'Application Management Listener': develop/application-management-listener.md
                          - 'Custom DCR Validator': develop/custom-dcr-validator.md
                  - 'Consent Management':
                      - 'Consent Manage': develop/consent-management-manage.md
                      - 'Consent Validate': develop/consent-management-validate.md
                      - 'Consent Authorize': develop/consent-management-authorize.md
                      - 'Consent Enforcement Executor': develop/consent-enforcement-executor.md
                      - 'Consent Core Service': develop/consent-core-service.md
                      - 'Customize the Consent Page': develop/customize-consent-page.md
                      - 'Consent Amendment History': develop/consent-amendment-history.md
                      - 'Customize the Consent Manager Portal': develop/customize-consent-manager-portal.md
                  - 'Token Flow Customization':
                      - 'JWT Access Tokens': develop/jwt-access-tokens.md
                      - 'Token Filters': develop/token-filters.md
                      - 'Grant Handlers': develop/grant-handlers.md
                      - 'Introspection Data Provider': develop/introspection-data-provider.md
                      - 'Custom Claim Provider': develop/custom-claim-provider.md
                      - 'ID Token Builder': develop/id-token-builder-token-flow.md
                  - 'Authentication Flow':
                      - 'Customize Authentication Steps': develop/customize-authentication-steps.md
                      - 'CIBA Push Authenticator': develop/ciba-push-authenticator.md
                      - 'CIBA Consent Updater': develop/ciba-consent-updater.md
                  - 'Authorization Flow':
                      - 'KeyID Provider': develop/keyid-provider.md
                      - 'ID Token Builder': develop/id-token-builder-auth-flow.md
                      - 'Response Type Handler': develop/response-type-handler.md
                      - 'Custom Request Object Validator': develop/custom-request-object-validator.md
                      - 'Custom Pushed Auth Request Validator': develop/custom-pushed-auth-request-validator.md
                      - 'Mobile Application for CIBA': develop/mobile-application-for-ciba.md
                  - 'Event Notification': develop/custom-event-notification.md
                  - 'API Security':
                      - 'JWS Signature Validation': develop/jws-signature-validation.md
                      - 'JWS Response Signing': develop/jws-response-signing.md
                  - 'Using Hibernate Validator': develop/validation-layer.md
                  - 'Open Banking Gateway':
                      - 'Introduction': develop/open-banking-gateway.md
                      - 'Custom Request Router': develop/custom-request-router.md
                      - 'Custom Gateway Executor': develop/custom-gateway-executor.md
                      - 'Custom API Consumer Validation Executor': develop/custom-api-consumer-validation.md
                      - 'Error handling in API Gateway': develop/gateway-error-handling.md
                      - 'Custom Throttling Keys': develop/custom-throttling-keys.md
                  - 'Data Publishing':
                      - 'Custom Data Publishing': develop/custom-data-publishing.md
                      - 'Authentication Flow': develop/authentication-flow-for-data-publishing.md
                      - 'Dynamic Client Registration': develop/dcr-for-data-publishing.md
                      - 'Token Data Publishing': develop/token-data-publishing.md
                  - 'Additional':
                      - 'Open Banking Service Activator': develop/service-activator.md
                      - 'Open Banking Authentication Worker': develop/authentication-worker.md
                      - 'Open Banking Idempotency Handling Validator': develop/idempotency-handling-validator.md
          - 'Extending API Manager Extensions': 
              - 'Introduction': develop/develop-apim-toolkit.md
              - 'OpenAPI based extensions':
                  - 'Developer Guide': develop/openapi-extensions-developer-guide-am.md
                  - 'Manual Client Registration': develop/openapi-extensions-mcr.md
              - 'Java based extensions':
                  - 'Developer Guide': develop/developer-guide.md
                  - 'Open Banking Gateway':
                      - 'Introduction': develop/open-banking-gateway.md
                      - 'Custom Request Router': develop/custom-request-router.md
                      - 'Custom Gateway Executor': develop/custom-gateway-executor.md
                      - 'Custom API Consumer Validation Executor': develop/custom-api-consumer-validation.md
                      - 'Error handling in API Gateway': develop/gateway-error-handling.md
                      - 'Custom Throttling Keys': develop/custom-throttling-keys.md
                  - 'Data Publishing':
                      - 'Custom Data Publishing': develop/custom-data-publishing.md
                      - 'Authentication Flow': develop/authentication-flow-for-data-publishing.md
                      - 'Dynamic Client Registration': develop/dcr-for-data-publishing.md
                      - 'Token Data Publishing': develop/token-data-publishing.md
                  - 'Additional':
                      - 'Open Banking Service Activator': develop/service-activator.md
                      - 'Open Banking Authentication Worker': develop/authentication-worker.md
                      - 'Open Banking Idempotency Handling Validator': develop/idempotency-handling-validator.md
#  - 'Toolkits' :
#    - 'Regulatory Compliance':
#        - 'UK Toolkit': toolkits/uk-toolkit.md
#        - 'Berlin Toolkit': toolkits/berlin-toolkit.md
#        - 'CDS Toolkit': toolkits/cds-toolkit.md
    #- 'Other Toolkits':
       # - 'Regulatory Aggregator':
        #    - 'Introduction': toolkits/regulatory-aggregator/regulatory-aggregator-intro.md
        #    - 'Quick Start Guide': toolkits/regulatory-aggregator/regulatory-aggregator-qsg.md
        #    - 'Try Out': toolkits/regulatory-aggregator/regulatory-aggregator-try-out.md
#  - 'Conformance':
#    - 'FAPI - CIBA Conformance': conformance/ciba-conformance.md
  - 'References':
    - 'Accelerator Extension REST API': references/accelerator-extensions-api.md
    - 'Identity Server Configuration Catalog': references/config-catalog-is.md
    #- 'API Manager Configuration Catalog': references/config-catalog-apim.md
    - 'Consent REST API': references/consent-rest-api.md
    - 'DCR REST API': references/dcr-rest-api.md
    - 'Application Info API': references/application-info-api.md
  - '': page-not-found.md

# Extensions
markdown_extensions:
  - markdown.extensions.admonition
  - markdown.extensions.codehilite:
      linenums: true
      use_pygments: false
  - markdown.extensions.def_list
  - markdown.extensions.footnotes
  - markdown.extensions.meta
  - markdown.extensions.toc:
      permalink: true
  - pymdownx.arithmatex
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.emoji:
      emoji_generator: !!python/name:pymdownx.emoji.to_svg
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde

# Extra
extra_css:
  - assets/lib/highlightjs/default.min.css
  - assets/css/theme.css
extra_javascript:
  - assets/lib/highlightjs/highlight.min.js
  - assets/js/theme.js
  - assets/lib/backtotop/js/util.js
  - assets/lib/backtotop/js/main.js
extra:
  social:
    - type: github
      link: https://github.com/wso2
    - type: twitter
      link: https://twitter.com/wso2
    - type: linkedin
      link: https://www.linkedin.com/company/wso2
  site_version: 4.0.0
  nav_list:
    - Home
    - Get Started
    - Install and Setup
    - Tryout Flows
    - Learn
    - Develop
#    - Toolkits
#    - Conformance
    - References
